body {
  margin: 0;
  background: linear-gradient(135deg, #0f0c29, #302b63, #24243e);
  color: white;
  font-family: 'Polish Pro', sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

header .logo {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.05);
  padding: 1rem 2rem;
  border-radius: 2rem;
  box-shadow: 0 0 20px rgba(255,255,255,0.1);
}
